body {
  background: url(images/chess-pic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: gray;
  border: 1px solid;
  border-style: outset;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.icons-attribution, .game-status, .fallen-soldiers{
  margin-top: 20px;
  min-height: 50px;
}

/*Board color scheme Wheat from http://omgchess.blogspot.com/2015/09/chess-board-color-schemes.html*/
.dark-square{
  background-color: rgb(139, 69, 19);
  border-style: outset;
  border-color: grey;
  }
  
  .light-square{
      background-color: burlywood;
      border-style: outset;
      border-color: grey;
  }
  
  #player-turn-box{
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    margin-bottom: 10px;
  }
  
  h3{
    font-family: 'Geostar Fill', cursive;
    margin-bottom: 5px;
  }



